<div><!--  data-ng-controller="creerUsagerControleur"> -->
	<form name="usagerForm" class="col-lg-12" novalidate>
		<legend>Creer un usager</legend>
		
		
		<div class="form-group">
			<label class="radio-inline">
  				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">Monsieur
			</label>
			<label class="radio-inline">
  				<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">Madame
			</label>
		</div>
		
		
		<div class="form-group">
			<label for="inputNom">Nom</label>
			<input type="text" class="form-control" id="inputNom" placeholder="Entrez nom" />
  		</div>
		<div class="form-group">
			<label for="inputNom">Prénom</label>
			<input type="text" class="form-control" id="inputPrenom" placeholder="Entrez prénom" />
  		</div>
		<div class="form-group">
			<label for="inputDtNaiss">Date de naissance</label>
			<input type="date" class="form-control" id="inputDtNaiss" placeholder="jj/mm/aaaa" />
  		</div>
		<div class="form-group">
    		<label for="inputEmail">Email</label>
    		<input type="email" class="form-control" id="inputEmail" placeholder="john.doe@gmail.com" />
		</div>
		

  		<div class="checkbox">
    		<label>
      			<input type="checkbox">
      			Suivi par la mission locale
    		</label>
  		</div>

  		<div class="checkbox">
    		<label>
      			<input type="checkbox" data-ng-model="bExcluDeNosServices">
      			Exclu de nos services
    		</label>
  		</div>
		<div class="form-group" data-ng-show="bExcluDeNosServices">
    		<label for="inputDtExclusion">Date de fin d'exclusion</label>
    		<input type="date" class="form-control" id="inputDtExclusion" placeholder="jj/mm/aaaa" />
		</div>
		
		<div class="form-group">
    		<label for="inputQuartier">Quartier</label>
			<select id="inputQuartier" class="form-control" data-ng-model="quartierChoisi" >
				<option data-ng-repeat="quartier in listeQuartiers">
					{{quartier.quartierNom}}
				</option>
			</select>
	
  		</div>
		<div class="form-group">
    		<label for="inputCsp">Catégorie socio-professionnelle</label>
			<select id="inputCsp" class="form-control" data-ng-model="cspChoisi" >
				<option data-ng-repeat="csp in listeCsp">
					{{csp.cspNom}}
				</option>
			</select>
  		</div>
		<div class="form-group">
    		<label for="inputNiveauFormation">Niveau de formation</label>
			<select id="inputNiveauFormation" class="form-control" data-ng-model="niveauFormationChoisi" >
				<option data-ng-repeat="niveauFormation in listeNiveauxFormation">
					{{niveauFormation.nfLibelle}}
				</option>
			</select>
  		</div>

		<button type="button" class="btn btn-primary btn-block" data-ng-click="">Créer</button>
		<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Retour</button>
		
			
	</form>
</div>
