<div data-ng-controller="gererSalleControleur">
	<h2>
		Site : <a href="/MDE_GUI_POC/listerSalles">{{salle.site.siteNom}}</a>
		<br/>
		Salle : {{salle.salleNom}}

		<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
  			<span class="glyphicon glyphicon-off"></span>
		</button>
	</h2>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Etat</th>
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="x in salle.postes | orderBy:'poste.posteNom'">
				<td>{{ x.posteId }}</td>
				<td>{{ x.posteNom }}</td>
				<td>
					<span class="label label-success" data-ng-show="x.posteDisponible">
						Libre 
					</span>
					<span class="label label-danger" data-ng-hide="x.posteDisponible">
						Occupé
					</span>
				</td>
				
				<td>
					<button class="btn btn-primary"
							data-ng-disabled="{{!x.posteDisponible}}" 
							data-ng-click="attribuerPoste(x.posteId)">
						<span class="glyphicon glyphicon-play"></span>
					</button>
				</td>
				<td>
					<button class="btn btn-info"
							data-ng-click="configurerPoste(x.posteId)">
						<span class="glyphicon glyphicon-pencil"></span> 
					</button>
				</td>
				<td>
					<button data-ng-disabled="{{x.posteDisponible}}" class="btn btn-warning"
							data-ng-click="libererPoste(x.posteId)">
						<span class="glyphicon glyphicon-stop"></span> 
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Libérer tous les postes</h4>
      			</div>
      			<div class="modal-body">
					Voulez-vous vraiment arrêter touts les connexions?
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        			<button type="button" class="btn btn-primary" data-ng-click="libererTousLesPostes(salle.salleId)">Oui</button>
      			</div>
    		</div>
  		</div>
	</div>
</div>
